* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend";
}

header {
    display: flex;
    flex-direction: column;
    background-image: url("../img/banner.svg");
    max-width: 100%;
    height: 720px;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: fit-content;
        padding: 16px 92px;

        img {
            width: 173px;
            height: 51px;
        }

        nav {
            display: flex;
            gap: 40px;
            padding: 10px;
            max-width: fit-content;
            max-height: fit-content;

            .principal {
                color: rgba(255, 255, 255, 1);
                font-size: 18px;
                line-height: 150%;
                text-decoration: none;
            }

            a {
                font-size: 18px;
                line-height: 150%;
                color: rgba(239, 239, 239, 0.7);
                text-decoration: none;
            }
        }

        .btns {
            max-width: fit-content;
            max-height: fit-content;
            gap: 16px;
            display: flex;

            a {
                color: rgba(255, 255, 255, 1);
                font-size: 15px;
                line-height: 100%;
                text-decoration: none;
                text-align: center;
            }

            .button-1 {
                width: 90;
                max-height: 38px;
                padding: 8px 16px;
                gap: 10px;
                border-radius: 8px;
                background: rgba(59, 68, 246, 1);

            }

            .button {
                width: 90;
                max-height: 38px;
                padding: 8px 16px;
                gap: 10px;
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 1);

                a {
                    line-height: 144%;
                }
            }
        }
    }

    .promotion-carousel {

        .title-cta {
            max-width: fit-content;
            max-width: fit-content;
            display: flex;
            gap: 64px;
            flex-direction: column;
            margin-top: 114px;
            margin-left: 95px;

            .title {
                display: flex;
                max-width: 438px;
                max-height: fit-content;
                gap: 26px;
                flex-direction: column;

                h1 {
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 100%;
                    color: rgba(255, 255, 255, 1);

                }

                h2 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 100%;
                    color: rgba(255, 255, 255, 1);

                }

            }

            .cta-button {
                max-width: fit-content;
                max-height: fit-content;
                padding: 16px 32px;
                gap: 10px;
                border-radius: 8px;
                background: rgba(59, 68, 246, 1);
                display: flex;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 150%;
                    text-align: center;
                    color: rgba(255, 255, 255, 1);

                }
            }
        }
    }
}